@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 50px;

  font-family: "Roboto Mono", monospace;

  background-color: #313131;
  color: #eee;

  min-height: 200px;
  min-width: 300px;
  width: 20vw;

  border-radius: 16px;

  box-shadow: 0 10px 20px 5px rgba($color: #000000, $alpha: 0.2);

  .change-button {
    z-index: 11;
    position: relative;
    background-color: #fff;
    height: 40px;
    width: 126px;

    border-radius: 8px;

    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;

    box-shadow: 0 5px 0 0 rgba($color: #ccc, $alpha: 1);

    transition: all 0.2s ease 0s;

    &:hover {
      background-color: #ccc;
      box-shadow: 0 5px 0 0 rgba($color: #999, $alpha: 1);
    }

    &:active {
      transform: translateY(5px);
      box-shadow: 0 0 0 0 rgba($color: #999, $alpha: 1);
    }
  }

  .color-hex {
    font-size: 20px;
    letter-spacing: 1px;
  }
}
